# Dependencies
node_modules/

# Build
dist/
*.local

# Environment
.env
.env.*
!.env.example

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Vercel
.vercel

# Testing / coverage
coverage/

# TypeScript cache
*.tsbuildinfo
